[submodule "lib/Runtime"]
	path = lib/Runtime
	url = https://github.com/bayrell/Runtime
[submodule "lib/Runtime.Web"]
	path = lib/Runtime.Web
	url = https://github.com/bayrell/Runtime.Web
[submodule "lib/Runtime.Web.App"]
	path = lib/Runtime.Web.App
	url = https://github.com/bayrell/Runtime.Web.App
