[submodule "lib/Runtime"]
	path = lib/Runtime
	url = https://github.com/bayrell/Runtime
[submodule "lib/Runtime.Web"]
	path = lib/Runtime.Web
	url = https://github.com/bayrell/Runtime.Web
[submodule "lib/Runtime.Core"]
	path = lib/Runtime.Core
	url = https://github.com/bayrell/Runtime.Core
